[submodule "docs/doxygen/doxygen-awesome-css"]
	path = docs/doxygen/doxygen-awesome-css
	url = https://github.com/jothepro/doxygen-awesome-css.git
[submodule "ext/rslidar_sdk"]
	path = ext/rslidar_sdk
	url = https://github.com/fs-feup/rslidar_sdk.git
[submodule "ext/kiss-icp"]
	path = ext/kiss-icp
	url = https://github.com/PRBonn/kiss-icp/
