Bruno Dias <92429411+BrunoDias201907828@users.noreply.github.com> BrunoDias201907828 <BrunoDias201907828@github.com>
Cadete <t.cadete24@gmail.com>
Davide Teixeira <davidpcu@hotmail.com> <114567030+Davide64-dev@users.noreply.github.com>
Davide Teixeira <davidpcu@hotmail.com> Davide64-dev <davidpcu@hotmail.com>
Diogo Almeida <Diogo Almeida> <diogohenriquealmeida@hotmail.com>
FSFEUP <formulastudentfeup@gmail.com> FSFEUP <123366776+FSFEUP@users.noreply.github.com>
JoaoAMarinho <joao.andre.marinho@gmail.com> JoaoMarinho <61231873+JoaoAMarinho@users.noreply.github.com>
João Romão <digasromao2000@gmail.com> João Diogo <45267600+TsarkFC@users.noreply.github.com>
João Romão <digasromao2000@gmail.com> <up201806779@fe.up.pt> 
João Romão <digasromao2000@gmail.com>
Leonor2004 <up202205796@up.pt>
Marcelo Couto <marhcouto1101@gmail.com> marhcouto <marhcouto1101@gmail.com>
Pedro Romao <up202108660@g.uporto.pt> Pedro Miguel Martins Romão <93677799+PedroRomao3@users.noreply.github.com>
PedromLBarros <pedromlbarros00@gmail.com>
PedromLBarros <pedromlbarros00@gmail.com> <78809970+PedromLBarros@users.noreply.github.com>
Vitor <vitorjardimbueno@hotmail.com> Vitor Bueno <83077747+vjardimb@users.noreply.github.com>
Yves Bonneau <yves.bonneau2004@gmail.com> <70809020+yvesb04@users.noreply.github.com>
andrelds11 <andreldsantos11@gmail.com> andrelds11 <55668442+andrelds11@users.noreply.github.com>
joaoandre11 <joaoandre11@Ubuntu-20.04-LTS.myguest.virtualbox.org>
lourenco31 <r.lourenco.a@gmail.com> lourenco31 <150086800+lourenco31@users.noreply.github.com>