
# Stop searching for additional config files.
set noparent

# Limit line length.
linelength=100

# We do not care about the whitespace details of a TODO comment.  
filter=-whitespace/todo

# No need for newline in end of file
filter=-whitespace/ending_newline

# Ignore comments whitespace
filter=-whitespace/comments

# Do not require copyright
filter=-legal/copyright

# Allow the usage of namespaces
filter=-build/namespaces

# Allow unapproved headers
filter=-build/header_guard

# Ignore rules for multiline comments
filter=-readability/multiline_comment

# Allow c++11 banned headers
filter=-build/c++11

# Ignore not allowing rand
filter=-runtime/threadsafe_fn

# Allow c integer types
filter=-runtime/int

# Clang takes care of that
filter=-build/include_order