**/.vscode/*
**/.idea/*
**/.DS_Store
**/build/*
**/install/*
**/log/*
**/doxygen/html/** 
**/bags/*
*.bag
*.db3
*.pcd
compile_commands.json

# This makes it so that the cache/humble-ros-base-jammy
# folders are kept in the repo but not its contents, meaning
# build results aren't shared but there is no need to create
# the folder structure on a fresh clone.
!.gitkeep