control:
  lookahead_gain: 0.5
  lookahead_minimum: 4
  pid_kp: 0.4
  pid_ki: 0.3
  pid_kd: 0.09
  pid_tau: 0.5
  pid_t: 0.01
  pid_lim_min: -1.0
  pid_lim_max: 1.0
  pid_anti_windup: 0.7
  lpf_alpha: 1 # Smoothing factor for the low-pass filter (0 = max smoothing, 1 = no smoothing)
  lpf_initial_value: 0.0
  pp_ki: 0.005
  pp_anti_windup: 0.5
  pp_t: 0.01 
