control:
  control_solver: "acados" 
  command_time_interval: 20 # 40Hz is usually sufficient for Python
  
  # PID (Longitudinal)
  pid_kp: 0.20  # Aggressive acceleration
  pid_ki: 0.05
  pid_kd: 0.001
  pid_lim_min: -1.0
  pid_lim_max: 1.0
  
  # MPC Tuning
  mpc_horizon_steps: 50
  mpc_dt: 0.05                 # 1.0s Horizon
  
  # Weights (Q matrix)
  mpc_w_ey: 4.0               # Lower than before. Allow small cuts to corners.
  mpc_w_epsi: 1.0             # High priority on heading alignment
  mpc_w_vy: 5.0                # Let the car slide a little (slip angle)
  mpc_w_r: 1.0                 # Dampen rotation to prevent spin
  mpc_w_delta: 0.1             # Minimizing steer angle (efficiency)
  
  # Weights (R matrix)
  mpc_w_d_delta: 5.0          # High penalty on steering CHANGES (Smoothness is key)
  
  # Constraints
  mpc_max_steer_rate: 1.0     # Rad/s
  steering_min: -0.35
  steering_max: 0.35